@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    @apply bg-[#131313];
    @apply text-[#f9f9f9];
    font-family: 'Poppins', sans-serif;
}

li{
    cursor: pointer;
}

li:hover{
    @apply text-[#b0b0b0];
}